body{
    box-sizing: border-box;
    background-image: linear-gradient(#6096B4,#93BFCF,#BDCDD6,#EEE9DA,#BDCDD6,#93BFCF,#6096B4);
    padding: 30px;
    border:10px;
    border-radius: 100px;
    border-style:double;
}
.wlcmh h2{
    color:rgb(1, 0, 75);
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 500%;
}
ol li{
    margin:0 10%;
    width:80%;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    font-size: 250%;
    color:#EEE9DA ;
    border:5px groove rgb(1, 0, 75);
    border-radius:1000px;
    background-color: rgb(0, 0, 106);
}
/* ul li{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    font-size: 200%; 
} */

ul img{
    border:5px groove rgb(1, 0, 75) ;
    border-radius: 10%;
    align-items: center;
    width:50%;
}
img{
    border:5px groove rgb(1, 0, 75) ;
    border-radius: 10%;
    align-items: center;
    width:40%;
    margin:20px 24% 20px 24%;
}
.abjchv{
    margin:20px 35% 100px 30%;
}
.vert{
    border:5px groove rgb(1, 0, 75) ;
    border-radius: 10%;
    align-items: center;
    width:20%;
    margin:0 40% 100px;
}

p{
    text-align: center;
    font-family: 'Arvo', serif;
    font-weight: bolder;
    font-size:200%;
    color:rgb(1, 0, 75) ;
    margin:30px 0 30px 0;
}
.guitar img{
    border:5px groove rgb(1, 0, 75) ;
    border-radius: 10%;
    align-items: center;
    width:30%;
    margin:auto 35%;
}

ul li{
    color:white;
    margin:20px 30% 20px 30%;
    width:40%;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    font-size: 200%;
    border:5px groove rgb(1, 0, 75);
    border-radius:1000px;
    background-color: rgb(0, 0, 152);
}
a img{
    border:5px groove rgb(1, 0, 75) ;
    border-radius: 10%;
    align-items: center;
    width:40%;
}
a img:hover{
    border:5px dashed rgb(255, 255, 255);
    width:32%;
    transition:0.2s;
}
h4{
    margin:100px 10% 10px 10%;
    width:80%;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    font-size: 250%;
    color:#EEE9DA ;
    border:5px groove rgb(1, 0, 75);
    border-radius:1000px;
    background-color: rgb(0, 0, 106);
}
a{
    color:rgb(1, 0, 75);
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size:10vh; 
}
#cobutton{
    margin:20px 38% 200px 38%;
    width:50%;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    font-size: 400%;
    text-decoration: none;
    color:rgb(0, 0, 106) ;
    border:5px groove rgb(1, 0, 75);
    padding:0 50px;
    border-radius:1000px;
    background-color: #EEE9DA;
}
#cobutton:hover{
    background-color: rgb(0, 0, 106);
    color:#EEE9DA ;
    transition:1s;
}
a:hover{
    color:rgb(0, 0, 27);
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size:11vh;
    transition:0.2s;
}

hr{
    border-style:double none none;
    width:90%;
    height:none;
    border-width:10px;
    border-color:rgb(1, 0, 75) ;
    margin:200px 5%;
}